.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
}

.footer-button {
    float: right;
    right: 10px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 10px;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #5bd778;
    color: black;
    border: none;
}

.footer-button:disabled {
  display: none;
}
  